<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Avoke Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
  <link rel="stylesheet" type="text/css" href="../../resources/css/style.css">
	<script type="text/javascript" src="../../resources/js/scripts.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>

img {
  border-radius: 50%;
}

.sidebar {
  font-family: "Karu-Regular";
  font-size: 12px;
  color: #10111F;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 10px;
}


.sidebar a {
  font-family: "Karu-Regular";
  font-size: 22px;
  color: #10111F;
  padding: 8px 8px 1px 20px;
  text-decoration: none;
  
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #262849;
}

.s  idebar .closebtn {
  position: absolute;
  top: 100px;
  right: 26px;
  font-size: 40px;
  margin-left: 50px;
}

.openbtn {
  font-family: "Karu-Regular";
  font-weight: 10;
  font-size: 22px;
  cursor: pointer;
  background-color: rgb(14, 14, 14);
  color: rgb(219, 219, 219);
  padding: 7px 12px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(120, 197, 191);
}

#main {
  transition: margin-left .3s;
  padding: 25px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 14px;}
  .sidebar a {font-size: 17px;}
}
input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
      }

      /* Style the submit button */

      input[type="submit"] {
        background-color: #4caf50;
        color: white;
      }

      /* The message box is shown when the user clicks on the password field */

      /* #message {
        display: none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
      } */

      #message p {
        padding: 10px 35px;
        font-size: 15px;
      }

      /* Add a green text color and a checkmark when the requirements are right */

      .valid {
        color: green;
      }

      .valid:before {
        position: relative;
        left: -35px;
        content: "\2713";
      }

      /* Add a red text color and an "x" when the requirements are wrong */

      .invalid {
        color: red;
      }

      .invalid:before {
        position: relative;
        left: -35px;
        content: "\00D7";
      }
</style>
</head>