#fileid {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -500px;
  z-index: 100;
}

#canvasid {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -550px;
  width: 50%;
  height: 50%;
}

audio {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 400px;
  margin-left: -500px;
  width: calc(50% - 20px);
}