#go_back {
  position: fixed;
  top: 0%;
  left: 45%;
  z-index: 100;
}

#fileid {
  position: fixed;
  top: 5%;
  left: 45%;
  z-index: 100;
}

#canvasid {
  position: fixed;
  top: 0%;
  /* left: 50%; */
  /* margin-top: -500px; */
  /* margin-left: -1286px; */
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  top: 90%;
  /* left: 50%; */
  /* margin-top: 400px;
  margin-left: -1270px; */
  width: calc(100% - 20px);
}

#login_logo {
  width: 200px;
  margin-left: 500px;
}

#log_but {
  margin-left: 480px;
}

#my_submit_button {
  margin-left: 480px;
}

#labels {
  margin-left: 50px;
}

/* #psw {
  margin-left: 293px;
}

#cpsw {
  margin-left: 293px;
} */

@font-face {
  font-family: "Karu-Regular";
  src: url("Karu-Regular.ttf") format("truetype");
}

* {
  font-family: "Karu-Regular";
  font-weight: 100;
  color: #cacaca;
}

.container-md {
  background-color: #10111F;
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: #10111F;
}

.canvas-wrapper {
  position: relative;
  /*border: 1px solid red;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dragndrop-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border: 1px solid green;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main-canvas {
  width: 1200px;
  height: 512px;
  border: 1px solid blue;
  background-color: #10111F 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hr {
  width: 100%;
  height: 10px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}

.hr:after, .hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 50%;
  left: 0;
}

.hr:before {
  background: -webkit-gradient(linear, left top, right top, from(#10111F), color-stop(50%, #10111F), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100%);
  background-size: 40px;
  background-position: center;
  z-index: 1;
}

.hr:after {
  -webkit-transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #62efab), color-stop(15%, #F2EA7D), color-stop(25%, #F2EA7D), color-stop(35%, #FF8797), color-stop(45%, #FF8797), color-stop(55%, #e1a4f4), color-stop(65%, #e1a4f4), color-stop(75%, #82fff4), color-stop(85%, #82fff4), color-stop(95%, #62efab));
  background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
  background-size: 200%;
  background-position: 0%;
  -webkit-animation: bar 15s linear infinite;
  animation: bar 15s linear infinite;
}

@-webkit-keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.hr.anim:before {
  background: -webkit-gradient(linear, left top, right top, from(#10111F), color-stop(5%, #10111F), color-stop(5%, transparent), color-stop(10%, transparent), color-stop(10%, #10111F), color-stop(15%, #10111F), color-stop(15%, transparent), color-stop(20%, transparent), color-stop(20%, #10111F), color-stop(25%, #10111F), color-stop(25%, transparent), color-stop(30%, transparent), color-stop(30%, #10111F), color-stop(35%, #10111F), color-stop(35%, transparent), color-stop(40%, transparent), color-stop(40%, #10111F), color-stop(45%, #10111F), color-stop(45%, transparent), color-stop(50%, transparent), color-stop(50%, #10111F), color-stop(55%, #10111F), color-stop(55%, transparent), color-stop(60%, transparent), color-stop(60%, #10111F), color-stop(65%, #10111F), color-stop(65%, transparent), color-stop(70%, transparent), color-stop(70%, #10111F), color-stop(75%, #10111F), color-stop(75%, transparent), color-stop(80%, transparent), color-stop(80%, #10111F), color-stop(85%, #10111F), color-stop(85%, transparent), color-stop(90%, transparent), color-stop(90%, #10111F), color-stop(95%, #10111F), color-stop(95%, transparent), to(transparent));
  background: linear-gradient(90deg, #10111F 0%, #10111F 5%, transparent 5%, transparent 10%, #10111F 10%, #10111F 15%, transparent 15%, transparent 20%, #10111F 20%, #10111F 25%, transparent 25%, transparent 30%, #10111F 30%, #10111F 35%, transparent 35%, transparent 40%, #10111F 40%, #10111F 45%, transparent 45%, transparent 50%, #10111F 50%, #10111F 55%, transparent 55%, transparent 60%, #10111F 60%, #10111F 65%, transparent 65%, transparent 70%, #10111F 70%, #10111F 75%, transparent 75%, transparent 80%, #10111F 80%, #10111F 85%, transparent 85%, transparent 90%, #10111F 90%, #10111F 95%, transparent 95%, transparent 100%);
  background-size: 400px;
  background-position: center;
  z-index: 1;
  -webkit-animation: bar 120s linear infinite;
  animation: bar 120s linear infinite;
}

.hr.anim:hover:before {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.hr.anim:hover:after {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*# sourceMappingURL=style.css.map */