
<!--Home Page-->

<%- include('partials/_Header.ejs') %>

<body>
  <%- include('partials/_NavBar.ejs') %>
    <img src="../resources/imgs/Avoke_alpha.png" alt="avoke logo" width="250">
  <input type="button" class="btn btn-info" value="Visualize" onclick=" relocate_home()">
	<script>
		function relocate_home()
		{
			location.href = "/vis_final";
		} 
	</script>
</body>
<footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../resources/js/scripts.js" type="text/javascript"></script>


</footer>