<%- include('partials/_Header.ejs') %>

  <body>
    <%- include('partials/_NavBar.ejs') %>
    <div class="jumbotron container-md">

      <h1 class="display-6">Team</h1>

      <br/>

      <div class="row">

        <div class="card-profile-image col-2" >
          <a href="#">
            <img
              src="../resources/imgs/Avoke_alpha.png"
              class="img-thumbnail"
              width="150px"
              height="180px"
            />
          </a>
        </div>
        <div class="col"></div>
      </div>
      <br><br>
      <b class="hr anim"></b>
      <div class="container-md">
        <div class="col-6">
          <h2>About us</h2>
          <br/>
            <h4>Names</h4>
            <h5 class="display-5">Muluken Chekilie</h5>
            <h5 class="display-5">Lauren Paredes</h5>
            <h5 class="display-5">Kate Reynolds</h5>
            <h5 class="display-5">Giuliano Costa</h5>
            <h5 class="display-5">Zixuan Ni</h5>
            <h5 class="display-5">Carlos Bueno </h5>
            <br>          
            <h5><a href="https://github.com/CSCI-3308-CU-Boulder/101-4-MyTeam.IsBetterThanYours-true">Git Hub</a></h5>
            <br>
            <h5>Favourite Genres:</h5>
            <div class="row">

              <h5><span class="badge badge-secondary" style="margin: 10px;">EDM</span></h5> 
              <h5><span class="badge badge-secondary" style="margin: 10px;">Indie</span></h5>
              <h5><span class="badge badge-secondary" style="margin: 10px;">Rap/Hip Hop</span></h5>
              <h5><span class="badge badge-secondary" style="margin: 10px;"></span></h5>
            </div>
            <h5 >Bio:</h5>
              <p style="font-style: italic; font-size: 18px;">
                We are an aspiring group of programmers at the University of Colorado Boulder. 
                This is our first website from scratch!
                We hope that you enjoy the audio visualization! :)
              </p>
          <br/>
        </div>

      </div>

    </div>





	<!-- Modal HTML -->
	<div id="editModal" class="modal fade">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
          <h4 class="modal-title">Edit Profile</h4>

					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="avatar">
						<img src="../imgs/rich-piana.jpg" alt="Avatar" height="200px">
          </div>
          <div>
            <button class="btn btn-secondary">Change Picture</button>

          </div>


					<div class="form-group">
						<input type="text" class="form-control" name="dname" placeholder="Display Name"
							required="required">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="email" placeholder="Email"
							required="required">
          </div>
          
					<div class="form-group">
						<button id="my_submit_button" class="btn btn-primary btn-block login-btn" disabled
							onClick="onClickFunction()">Edit</button>
					</div>
				</div>
				<div class="modal-footer">
					<div id="message" style="display:block">
						<h3>Complete</h3>
						<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
					</div>
				</div>
			</div>
		</div>
	</div>


  </body>
</html>
