<%- include('partials/_Header.ejs') %>

<body>
  <%- include('partials/_NavBar.ejs') %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Avoke</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="frontend.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Switch account</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Setting
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="setName.html">Change Name</a>
            <a class="dropdown-item" href="setPsw.html">Change Password</a>
            <a class="dropdown-item" href="setPic.html">Change Picture</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Others
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Invite your friends</a>
            <a class="dropdown-item" href="#">Membership</a>
            <a class="dropdown-item"
              href="https://github.com/CSCI-3308-CU-Boulder/101-4-MyTeam.IsBetterThanYours-true/tree/master">Github</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <form action="#">
      <br /><br /><br /><br /><br /><br />
      <!-- here should be user's current name -->
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">New Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="name" placeholder="New Name" />
        </div>
        <div class="col-sm-5">
          <button type="button" class="btn btn-light" onclick="check()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <script>
    function check() {
      var str = document.getElementById("name").value;
      if (str != "" && str.length <= 8) {
        // code goes here, the name should be pass to database
        alert("Change Name Successfully!");
      } else {
        alert("Name cannot be empty or longer than 8 characters!");
        return;
      }
      document.getElementById("name").value = '';
    }
  </script>
</body>